<%include header%>

<div class="body-content outer-top-xs" id="top-banner-and-menu">
  <div class="container">
    <div class="row">
        <div class="col-md-12 phantrang text-left pb-3">
            <ul>
                <li><a href="">Trang chủ</a> / </li>
                <li>Đăng nhập</li>
            </ul>
        </div>
        <div class="col-lg-8 justify-content-lg-center mx-auto background-register">
            <div class="col-lg-6">
                <div class="background-image-register" style="height: 500px">
                    <img src="/images/background/dangky-dangnhap1.png" />
                    <div class="register-detail">
                        <div class="register-detail-1">QUYỀN LỢI KHÁCH HÀNG</div>
                        <div class="register-detail-2">
                            <i class="far fa-check-circle" style="color: #3b69f1;"></i> Có nhiều sản phẩm uy tín và chất lượng.
                        </div>
                        <div class="register-detail-2">
                            <i class="far fa-check-circle" style="color: #3b69f1;"></i> Mua hàng khắp thế giới cực dễ dàng, nhanh chóng.
                        </div>
                        <div class="register-detail-2">
                            <i class="far fa-check-circle" style="color: #3b69f1;"></i> Theo dõi chi tiết đơn hàng, địa chỉ thanh toán dễ dàng
                        </div>
                    </div>
                </div>
            </div>
            <form action="/users/loginAccount" method="POST">
                <div class="col-lg-6">
                    <div class="register-information">
                        <div class="register-title">
                            <div class="col-md-6 line pt-3"><a class="display-line" href="/users/login">Đăng nhập</a></div>
                            <div class="col-md-6" ><a href="/users/register">Đăng ký</a></div>
                        </div>
                        <div class="register-form">
                            <div class="pt-3" style="color: red"><%= error%></div>
                            <div class="register-email">
                                <div>Email <span style="color: red">*</span></div>
                                <input type="text" class="input-register" name="email" id="sodt" placeholder="Nhập địa chỉ email" required/>
                            </div>
                            <div id="error_login_phone"></div>
                            <div class="register-password">
                                <div>Mật khẩu <span style="color: red">*</span></div>
                                <input type="password" class="input-register" name="password" id="matkhau" placeholder="Nhập mật khẩu" required/>
                            </div>
                            <div id="error_login_password"></div>
                            <div class="register-forgotpassword text-right py-3">
                                <a href="/users/forgotPassword">Quên mật khẩu?</a>
                            </div>
                            <div class="register-button pb-3">
                                <button type="submit" class="btn btn-primary" id="login">Đăng nhập</button>
                            </div>
                            <div class="register-description text-center">
                                <div>Nếu bạn chưa có tài khoản, hãy <a href="/users/register">đăng ký</a></div>
                                <small>Cửa hàng cam kết bảo mật và sẽ không bao giờ đăng
                                    hay chia sẻ thông tin mà chưa có được sự đồng ý của bạn.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>

<%include footer%>