<% include header %>

<div class="body-content outer-top-xs" id="top-banner-and-menu">
  <div class="container">
    <div class="col-md-12 phantrang text-left pb-3">
        <ul>
            <li><a href="/">Trang chủ</a> / </li>
            <li>Giới thiệu</li>
        </ul>
    </div>
    <div class="my-wishlist-page box_shadow_border_radius">
        <div class="row">
            <div class="col-md-12 my-wishlist">
                <div class="row">
                  <div class="col-md-8 col-12 text-justify">
                    <p><b>Giới thiệu về website bán thuốc Nhật Minh</b></p>
                    <p>Chào mừng bạn đến với Cửa hàng thuốc <b>Nhật Minh</b> nơi bạn có thể tìm thấy đa dạng các sản phẩm dược phẩm, được thiết kế đặc biệt để chăm sóc và cung cấp sức khỏe tốt nhất cho cộng đồng. Chúng tôi cam kết đem đến cho khách hàng của mình chất lượng sản phẩm hàng đầu và giá cả hợp lý thông qua trang web của chúng tôi..</p>
                    <p>Cửa hàng thuốc <b>Nhật Minh</b> phục vụ một loạt đối tượng khách hàng, bao gồm trẻ em, người trưởng thành và người cao tuổi. Chúng tôi hiểu rằng mọi người có nhu cầu khác nhau về sức khỏe và cung cấp một loạt sản phẩm để đáp ứng những nhu cầu đó..</p>
                    <p>Chúng tôi đã tạo ra trang web Cửa hàng thuốc <b>Nhật Minh</b> với hy vọng mang lại sự tiện lợi cho quý khách hàng. Bạn có thể dễ dàng mua sắm các sản phẩm thuốc tại đây mà không cần phải đến cửa hàng trực tiếp. Chúng tôi cung cấp thông tin chi tiết và cập nhật thường xuyên để giúp bạn lựa chọn sản phẩm phù hợp nhất với nhu cầu của mình. Ngoài ra, chúng tôi cũng cung cấp nhiều ưu đãi hấp dẫn khi bạn mua sắm trên trang web của chúng tôi.</p>
                    <p><b>Chất lượng tốt - Uy tín hàng đầu</b></p>
                    <p>Chất lượng là yếu tố quan trọng nhất đối với chúng tôi. Tất cả các sản phẩm dược phẩm được cung cấp tại Cửa hàng thuốc Nhật Minh đều được nhập khẩu chính hãng và tuân thủ các quy trình kiểm soát chất lượng nghiêm ngặt. Bạn có thể hoàn toàn yên tâm về chất lượng của những sản phẩm bạn mua từ chúng tôi, và chúng tôi cam kết bán với giá cả được niêm yết.</p>
                    <p><b>Khách hàng là trọng tâm</b></p>
                    <p>Chúng tôi luôn đặt khách hàng là trọng tâm trong mọi hoạt động của mình. Chúng tôi không ngừng cải thiện chất lượng dịch vụ từ những chi tiết nhỏ nhất, nhằm đảm bảo bạn có trải nghiệm mua sắm tốt nhất và cảm thấy hài lòng nhất khi chọn Cửa hàng thuốc Nhật Minh là nơi mua sắm sản phẩm dược phẩm của bạn.</p>
                  </div>
                  <div class="col-md-4 col-12 pl-5">
                      <img src="/avatar/banner3.jpg" alt="">
                      <img src="/avatar/banner2.jpg" class="pt-4" alt="">
                  </div>
                  <div class="col-md-12 text-center">
                    <h3 class="font-weight-bold">Tại sao nên chọn cửa hàng của chúng tôi?</h3>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-4 text-center py-5">
                    <img src="/images/background/tpcn.png" style="width: 20%" alt="">
                    <div class="py-3" style="color: #0f6cb2; font-weight: bold; font-size: larger;">DƯỢC PHẨM CHÍNH HÃNG</div>
                    <div style="font-weight: bold; color: darkslategray;">Đa dạng và chuyên sâu</div>
                  </div>
                  <div class="col-md-4 text-center py-5">
                    <img src="/images/background/doi-tra-hang.png" style="width: 20%" alt="">
                    <div class="py-3" style="color: #0f6cb2; font-weight: bold; font-size: larger;">ĐỔI TRẢ TRONG 30 NGÀY</div>
                    <div style="font-weight: bold; color: darkslategray;">Kể từ ngày mua hàng</div>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-2"></div>
                  <div class="col-md-4 text-center">
                    <img src="/images/background/an-toan.png" style="width: 20%" alt="">
                    <div class="py-3" style="color: #0f6cb2; font-weight: bold; font-size: larger;">CAM KẾT 100%</div>
                    <div style="font-weight: bold; color: darkslategray;">Chất lượng sản phẩm</div>
                  </div>
                  <div class="col-md-4 text-center">
                    <img src="/images/background/free-delivery.png" style="width: 40%" alt="">
                    <div class="py-3" style="color: #0f6cb2; font-weight: bold; font-size: larger;">MIỄN PHÍ VẬN CHUYỂN</div>
                    <div style="font-weight: bold; color: darkslategray;">Theo chính sách giao hàng</div>
                  </div>
                  <div class="col-md-2"></div>
                </div>
            </div>			
        </div>
    </div>
  </div>
</div>

<% include footer %>